<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="w-100" src="https://firebasestorage.googleapis.com/v0/b/sripadmavathi-foods.appspot.com/o/AboutUs%2Fabout-1.jpg?alt=media&token=12a7d6e6-454e-4c4f-80f5-07c224b26d94">
                    </div>
                    <div class="col-6 text-start">
                        <img class="w-75"  src="https://firebasestorage.googleapis.com/v0/b/sripadmavathi-foods.appspot.com/o/AboutUs%2Fabout-2.jpg?alt=media&token=873a281a-be46-4851-8d82-687cbed54d16" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="w-75"  src="https://firebasestorage.googleapis.com/v0/b/sripadmavathi-foods.appspot.com/o/AboutUs%2Fabout-3.jpg?alt=media&token=c5131292-1523-4b03-9398-4c6f4500640c">
                    </div>
                    <div class="col-6 text-end">
                        <img class="w-100"  src="https://firebasestorage.googleapis.com/v0/b/sripadmavathi-foods.appspot.com/o/AboutUs%2Fabout-4.jpg?alt=media&token=d5253da7-be17-4211-a437-e3bbdb5c0be4">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary">{{ PageTitle }}</h5>
                <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i>{{ WebSiteTitle }}</h1>
                <div [innerHTML]="AboutUsDetails"></div>
                <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">{{ ExpYears }}</h1>
                            <div class="ps-4">
                                <p class="mb-0">Years of</p>
                                <h6 class="text-uppercase mb-0">Experience</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">{{ MasterChefs }}</h1>
                            <div class="ps-4">
                                <p class="mb-0">Popular</p>
                                <h6 class="text-uppercase mb-0">Master Chefs</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->