<div class="row g-4">

    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item rounded pt-3">
            <div class="p-4">
                <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                <h5>Master Chefs</h5>
                <p>Experience the culinary mastery of our expert chefs as they craft exquisite dishes that are sure to delight your senses.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item rounded pt-3">
            <div class="p-4">
                <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                <h5>Quality Food</h5>
                <p>Savor the goodness of our premium ingredients and carefully curated recipes that ensure every dish is bursting with flavor and nutrition.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item rounded pt-3">
            <div class="p-4">
                <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                <h5>Online Order</h5>
                <p>Enjoy the convenience of ordering your favorite meals online and have them delivered straight to your doorstep in just a few clicks.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="service-item rounded pt-3">
            <div class="p-4">
                <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                <h5>7days Service</h5>
                <p>Craving a delicious meal any day of the week? Look no further! Our restaurant offers 7-day service, so you can enjoy our scrumptious dishes any time you want.</p>
            </div>
        </div>
    </div>

</div>