<div id="Admin" class="container">
    <div class="card">
        <div class="card-header text-center">
            {{ pageTitle |titlecase}}
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-outline-primary float-right mb-3" *ngIf="!isAddChed"
                (click)="AddChef()">Add Chef</button>
            <div class="AddChef clear" *ngIf="isAddChed">
                <form #f="ngForm" (ngSubmit)="SaveChef(f.value.chefFile)">
                    <div class="form-group">
                        <label for="Name">Chef Name</label>
                        <input type="text" class="form-control" id="Name" name="ChefName"
                            [(ngModel)]="formData.ChefName" required="" placeholder="Enter Chef Full Name">
                    </div>
                    <div class="form-group">
                        <label for="Designation">Designation</label>
                        <input type="text" class="form-control" id="Designation" name="Designation"
                            [(ngModel)]="formData.Designation" required="" placeholder="Enter Chef Designation">
                    </div>
                    <div class="form-group">
                        <label for="chefFile">Chef Photo</label>
                        <input type="file" class="form-control" id="chefFile" #chefFile (change)="readFile($event)"
                            name="chefFile" ngModel />
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Active" name="Active"
                            [(ngModel)]="formData.Active" #active>
                        <label class="form-check-label" for="Active">
                            Active
                        </label>
                    </div>
                    <div class="form-group mb-3">
                        <label for="Details">Social media</label>
                        <div *ngFor="let social of formData.social" class="form-check">
                            <label for="{{ social.network }}">{{ social.network }}</label>
                            <input class="form-check-input position-static" type="checkbox" [name]="social.network"
                                [id]="social.network" [(ngModel)]="social.status">
                            <input type="url" class="form-control" [id]="social.network + 'Url'"
                                [name]="social.network + 'Url'" placeholder="Enter {{ social.network }} URL"
                                [disabled]="!social.status" [(ngModel)]="social.url" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-primary float-right mb-3" (click)="btnCancel()">Cancel</button>
                </form>
            </div>
            <div class="row g-4 clear" *ngIf="!isAddChed">
                <div class="col-lg-3 col-md-6" *ngFor="let chef of OurChefs">
                    <div class="team-item text-center rounded overflow-hidden">
                        <div class="options">
                            <span class="float-left iconBg bg-warning"
                                (click)="editTeam(chef)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-pen pull-left" viewBox="0 0 16 16">
                                    <path
                                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                </svg></span>
                            <span class="float-right iconBg bg-danger"
                                (click)="deleteChef(chef.id,chef.ChefImageLink)"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-trash pull-right" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                    <path
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                </svg></span>
                        </div>
                        <div class="rounded-circle overflow-hidden m-4" [ngClass]="{'redborder': !chef.Active}">
                            <img class="img-fluid" [src]="chef.ChefImageLink" alt="">
                        </div>
                        <h5 class="mb-0">{{ chef.ChefName }}</h5>
                        <small>{{ chef.Designation }}</small>
                        <div class="d-flex justify-content-center mt-3">
                            <ng-container *ngFor="let social of chef.social">
                                <a class="btn btn-square btn-primary mx-1" *ngIf="social.url" [href]="social.url" target="_blank">
                                    <i class="fab fa-{{ social.network | lowercase }}"></i>
                                </a>
                            </ng-container>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>