<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white " [innerHTML]="HomeBannerTitle"></h1>
                <p class="text-white mb-4 pb-2">{{ HomeBannerDetails }}</p>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" [src]="HomeBanner" alt="">
            </div>
        </div>
    </div>
</div>
<app-servicelist />
<app-about-us />
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
            <h1 class="mb-5">{{ FoodMenuSubTitle }}</h1>
        </div>
        <app-menulist [popular]= true  />
    </div>
</div>