<div *ngIf="PageName" class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown"> {{ userProfile?.displayName | titlecase }} {{
            PageName }}</h1>
    </div>
</div>
<div class="container-xxl pb-3" *ngIf="userProfile">
    <div class="container">
        <!-- Profile Start -->
        <div class="card mb-3">
            <h5 class="card-header">{{ userProfile?.userType == 'Employee' ? 'Employee ' :''}}Profile</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col col-sm-6 col-md-6">
                        <div class="row mb-3">
                            <div class="col-sm-4"> Name </div>
                            <div class="col-sm-8">{{ userProfile.displayName | titlecase }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-4"> Email </div>
                            <div class="col-sm-8"> {{ userProfile.email }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"> Phone Number </div>
                            <div class="col-sm-8">{{ userProfile.phoneNumber }} </div>
                        </div>
                    </div>
                    <div class="col col-sm-6 col-md-6" *ngIf="userProfile?.userType == 'Employee'">
                        <app-employee [EmployeeDetails]="userProfile.Employee"></app-employee>
                    </div>
                </div>
            </div>
        </div>
        <!-- Profile End -->
        <!-- Address card Start -->
        <div class="row m-0 mb-3" *ngIf="userProfile.address">
            <div class="card col-sm-6 col-md-6 address" *ngFor="let address of userProfile.address">
                <div class="card-body">
                    <h5 class="card-title">{{ userProfile?.userType == 'Employee' ? 'Employee ' :''}} Address <span
                            class="bg-danger float-right iconBg" (click)="deleteAddress(address.id)"><svg
                                xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                <path
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                            </svg></span>
                        <span class="bg-primary float-right iconBg"
                            (click)="editAddress();this.userAddress=address"><svg xmlns="http://www.w3.org/2000/svg"
                                width="20" height="20" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                <path
                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                            </svg></span>
                    </h5>
                    <div class="row">
                        <strong>{{ address.Name }}</strong>
                        <address>{{address.address}} {{address.address2}}<br>{{address.city}}, {{address.state}},
                            {{address.pincode}}</address>
                        <p>Ph:<a href="tel:{{ address.mobNumber }}">{{ address.mobNumber }}</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Address card End -->
        <button type="submit" *ngIf="!isAddAddress" class="btn btn-primary form-control mb-3" (click)="showAdd()">Add
            Address</button>
        <!-- Add address form Start -->
        <div class="card mb-3" *ngIf="isAddAddress">
            <div class="card-header">{{ isEdit? 'Edit Address':'Add Address' }}</div>
            <div class="card-body">
                <form #addAddress="ngForm" (ngSubmit)="submitAddress();addAddress.reset()">
                    <div class="form-row">
                        <div class="form-group row mb-3">
                            <label for="Name" class="col-sm-2 col-form-label">Name* </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" required id="Name" name="Name"
                                    [(ngModel)]="userAddress.Name" placeholder="Please Enter Your Name">
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="mobNumber" class="col-sm-2 col-form-label">Phone Number*</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="mobNumber" name="mobNumber"
                                    [(ngModel)]="userAddress.mobNumber" placeholder="Please Enter Mobile number">
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="Address" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-10">
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="Address" name="Address"
                                        [(ngModel)]="userAddress.address" placeholder="Please Enter Address">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Address2" name="Address2"
                                        [(ngModel)]="userAddress.address2" placeholder="Please Enter ddress 2">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="City" class="col-sm-2 col-form-label">City</label>
                            <div class="col-sm-10"><input type="text" readonly class="form-control-plaintext" id="City"
                                    name="City" [(ngModel)]="userAddress.city"></div>
                        </div>
                        <div class="form-group row">
                            <label for="State" class="col-sm-2 col-form-label">State</label>
                            <div class="col-sm-10"><input type="text" readonly class="form-control-plaintext" id="State"
                                    name="State" [(ngModel)]="userAddress.state"></div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="Pincode" class="col-sm-2 col-form-label">Pincode</label>
                            <div class="col-sm-10"> <input type="number" class="form-control" maxlength="5" id="Pincode"
                                    name="Pincode" [(ngModel)]="userAddress.pincode" placeholder="Please Enter Pincode">
                            </div>
                        </div>
                        <div class="col-sm-10 offset-sm-2"><button type="submit" class="btn btn-primary">{{ isEdit?
                                'Update Address':'Add Address' }}</button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-secondary"
                                (click)="isAddAddress=false;this.isEdit=false">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Add address form End -->
    </div>
</div>